<div id="debounceSpinnerContainer" [ngClass]="{show: debounceSpinner}">
  <div id="debounceSpinner"></div>
</div>

<div id="page-container">
  <header>
    <h1>Flickr photo stream</h1>

    <div id="flickrSearch">
      <input [(ngModel)]="searchStr" (keyup.enter)="newSearch(searchStr)" placeholder="e.g. funny, cat, picture">
      <button (click)="newSearch(searchStr)">Search</button>
    </div>
  </header>
  
  <main id="listingContainer">
    
    <div *ngIf="flickrPhotos?.length === 0" id="noImages">
      <p>Sorry, we couldn't find any images.</p>
    </div>

    <div *ngFor="let photo of flickrPhotos" class="photoContainer">
      
      <div class="imageWrapper">
        <a [href]="photo.link" target="_blank">
          <img class="responsive" [src]="photo.media.m" [alt]="photo.title"/>
        </a>
      </div>
      
      <div class="contentWrapper">
        
        <h2 class="imageTitle" *ngIf="photo.title !== ('' || ' ')">
          <a [href]="photo.link" target="_blank">
            {{photo.title}}
          </a>
        </h2>
        
        <span *ngIf="photo.title === ('' || ' ')">Photo </span><span>by</span>
        
        <h3 class="imageAuthor">
          <a [href]="flickr.getAccountLink(photo.author_id)" target="_blank">
            {{photo.author | flickrNameFormat}}
          </a>
        </h3>

      </div>
      
      <p class="flickrDescription">{{photo.description | flickrDescriptionFormat: true}}</p>
  
      <p class="flickrTags"><span *ngIf="photo.tags">Tags:</span> {{photo.tags | flickrTagsFormat}}</p>
    </div>
  </main>
  
  <footer>
  
  </footer>
</div>