@import "../../../theme/variables";
@import "../../../theme/mixins";

$font-size: 14px;

#debounceSpinnerContainer {
  width: 100%;
  height: 100%;
  position:fixed;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
  opacity: 0;

  &.show {
    @include fade(0.2s);
    z-index: 2;
  }

  #debounceSpinner {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:after {
      content: " ";
      display: block;
      width: 46px;
      height: 46px;
      margin: 1px;
      border-radius: 50%;
      border: 8px solid map-get($colours, white);
      border-color: 
        map-get($colours, white) 
        transparent 
        map-get($colours, white) 
        transparent;
      animation: debounceSpinner 1.2s linear infinite;
    }

    @keyframes debounceSpinner {
      0%    { transform: rotate(0deg); }
      100%  { transform: rotate(360deg); }
    }
  }  
}

#page-container {
  word-break: break-word;

  #flickrSearch {
    text-align: center;
    margin: 40px;
    
    input {
      @include border-radius(3px);
      border: 2px solid map-get($colours, primary);
      padding: 6px;
      font-size: 20px;
      color: map-get($colours, secondary);
      outline: none;
      height: 23px;
      max-width: 300px;
      width: 45%;
    }

    button {
      position: relative;
      right: 10px;
      height: 39px;
      border: 2px solid map-get($colours, primary);
      background: map-get($colours, primary);
      text-align: center;
      color: map-get($colours, white);
      @include border-radius(3px);
      cursor: pointer;
      font-size: 20px;
      height: 39px;
      padding: 0 12px;

      &:hover {
        @include fadeBackgroundColour(0.08s, lighten(map-get($colours, primary), 10%));
      }
    }
  }
  
  main#listingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      
    div.photoContainer {
      background-color: map-get($colours, white);
      margin: 10px;
      width: 230px;
      padding: 20px;
      border: 1px solid map-get($colours, mid-grey);
      @include border-radius(4px);

      h2.imageTitle, h3.imageAuthor {
        @include paragraph-ellipsis-mixin(16px, 1.4, 2);
        display: inline;
      }

      .flickrDescription {
        @include paragraph-ellipsis-mixin(14px, 1.4, 3);
      }
      
      .flickrTags {
        @include paragraph-ellipsis-mixin(14px, 1.4, 2);
      }
    }
  }
}
