@mixin paragraph-ellipsis-mixin($font-size, $line-height, $lines-to-show) {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}

@mixin fade($time) {
    -webkit-transition: opacity $time ease-in-out;
    -moz-transition: opacity $time ease-in-out;
    -ms-transition: opacity $time ease-in-out;
    -o-transition: opacity $time ease-in-out;
    opacity: 1;
}

@mixin fadeBackgroundColour($time, $colour) {
    -webkit-transition: background-color $time ease-in-out;
    -moz-transition: background-color $time ease-in-out;
    -ms-transition: background-color $time ease-in-out;
    -o-transition: background-color $time ease-in-out;
    background-color: $colour;
}

@mixin fadeColour($time, $colour) {
    -webkit-transition: color $time ease-in-out;
    -moz-transition: color $time ease-in-out;
    -ms-transition: color $time ease-in-out;
    -o-transition: color $time ease-in-out;
    color: $colour;
}