@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import "theme/variables";
@import "theme/mixins";

html, body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: map-get($colours, primary);
    text-decoration: none;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: map-get($colours, white) 3px 2px 0;
    position: relative;
    margin: 0;
    padding: 40px 20px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

a {
    color: map-get($colours, primary);

    &:hover {
        @include fadeColour(0.08s, lighten(map-get($colours, primary), 20%));
    }
}