$colours: (
    primary: #4C98FF,
    secondary: #00367F,
    tertiary: #264C7F,
    positive: #00FF2C,
    negative: #FF0100,
    black: #000000,
    white: #ffffff,
    mid-grey: #aaaaaa,
    light-grey: #dddddd
);