main {
    display: flex;
    justify-content: center;

    div {
        text-align: center;

        button {
            margin: 40px 0;
            padding: 20px;
            font-size: 16px;
        }
    }
}