/* You can add global styles to this file, and also import other style files */
@import "theme/typography";
@import "theme/variables";
@import "theme/mixins";

html, body {
    margin: 0;
    padding: 0;
    background-color: map-get($colours, light-grey);
}

img.responsive {
    max-width:100%;
}

.paragraphEllipsis {
    @include paragraph-ellipsis-mixin(14px, 1.4, 3);
}